body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-z:hidden;
    margin: auto;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}


/* START BUTTON */

.game-intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%
}

#start-button {
    z-index: 2;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 30px #ff00d900;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(43, 43, 43, 0.7);
    outline: none;
    border: none;
    font-size: 3em;
    padding: 60px 100px;
    border-radius: 20px;
 
    transition: all 0.3s ease-in;
}

#start-button:hover {

    cursor: pointer;
   
    background-color: rgba(0, 0, 0, 0.58);
    box-shadow: 10px 10px 40px #ff00ee;
}


/* CURTAIN SECTION */
.curtain {
    top: 0;
    bottom: 0;
    width: 50%;
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 2s ease-in;
}


.curtain.left {
    left: 0;
    position: absolute;
    /* animation: moveLeft 8s ease-in forwards; */
}

.curtain.right {
    right: 0;
    position: absolute;
    /* animation: moveRight 8s ease-in forwards; */
}

.curtain.open {
    animation-name: moveLeft, moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}



/* CHARACTER SECTION  */

.character-selection{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


#character-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.text-char-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 28px;
    /* text-shadow: 2px 2px rgb(0, 43, 11); */
    margin-left: 500px;
    margin-right: 500px;
    /* background-color: rgba(43, 43, 43, 0.5);
    padding: 100px;
    padding-top: 50px;
    padding-bottom:30px;
    border-radius: 25px;
    box-shadow: 8px 8px 30px #00ffc8;
    transition: all 0.3s ease-in; */
}

.text-img{
    width: 4%;
    height:0.5%;
}

.character{
    margin-left: 50px;
    margin-right: 50px;
    margin-top:30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


img{
    width: 200px;
    height:400px;
}


.character-ctn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 400px;
    margin-right:400px;
    /* width: fit-content; */
}


#play-button{
    font-family: cursive;
    outline: none;
    border: none;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.132);
    color: rgb(255, 255, 255);
    font-size: 3.5em;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 40px #00ffdd;
    transition: all 0.3s ease-in;
}

#play-button:hover {
    font-family: cursive;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.341);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 8px 8px 30px #ff0095;
}

#select-alice {
    font-family: cursive;
    outline: none;
    border: none;
    background-color:rgba(43, 43, 43, 0.5);
    color: rgba(255, 255, 255);
    font-size: 1.9em;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 30px #ff00d9;
    transition: all 0.3s ease-in;
    margin-top: 15px;  
}

#select-alice:hover {
    background-color: rgba(1, 1, 1, 0.15);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 8px 8px 30px #00ffe5;
}



#select-cat {
    font-family: cursive;
    outline: none;
    border: none;
    background-color: rgba(43, 43, 43, 0.5);
    color: rgba(255, 255, 255);
    font-size: 1.9em;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 30px #ff00d9;
    transition: all 0.3s ease-in;
    margin-top: 15px;

}

#select-cat:hover {
    background-color: rgba(1, 1, 1, 0.15);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 8px 8px 30px #00ffe5;
}

#select-madhatter {
    font-family: cursive;
    outline: none;
    border: none;
    background-color: rgba(43, 43, 43, 0.5);
    color: rgba(255, 255, 255);
    font-size: 1.9em;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 8px 8px 30px #ff00d9;
    transition: all 0.3s ease-in;
    margin-top: 15px;

}

#select-madhatter:hover {
    background-color: rgba(1, 1, 1, 0.15);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 8px 8px 30px #00ffe5;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30%;
    height: 40%
};





/* GAME SCREEN  */

.new-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}


canvas {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

/* Lose screen */
.end-game-screen{
    margin: auto;
    display: inline;
    margin-top:-25;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.win-screen{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.game-over-life{
    display: flex;
    padding-top: 400;
    margin-top:0;
    align-items: center;
    background-size: cover;
    background-image: url(../images/lose.jpg);
    width: 100%;
    height: 100vh;
}

.win-screen {
    display: flex;
    padding-top: 400;
    margin-top: 0;
    align-items: center;
    background-size: cover;
    background-image: url(../images/win.jpg);
    width: 100%;
    height: 100vh;
}



.text-lose{
    font-family: cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 43, 11);
    margin-left: 600px;
    margin-right: 600px;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 8px 8px 30px #00ffd9;
    transition: all 0.3s ease-in;
}

.text-win {
    font-family: cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 43, 11);
    margin-left: 600px;
    margin-right: 600px;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 8px 8px 30px #00ffd9;
    transition: all 0.3s ease-in;
}



.start-over-btn{
    font-family: cursive;
    outline: none;
    border: none;
    margin: auto;
    display: flex;
    margin-top:100px;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.582);
    color: rgb(255, 255, 255);
    font-size: 3em;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 8px 8px 30px #00ffd9;
    transition: all 0.3s ease-in;
}


.start-over-btn:hover {
    display:flex;
    outline: none;
    border: none;
    background-color: rgba(41, 41, 41, 0.18);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 8px 8px 30px #ff00dd;
}