body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-z:hidden;
    margin: auto;
    width: 100%;
    height: 100%;
}


/* START BUTTON */

.game-intro{
    /* width: 100px;
    height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw;
    height: 100vh; */

}

#start-button {
    z-index: 2;
    margin-top: 600px;
    /* position: absolute; */
    background-color:rgba(43, 43, 43, 0.6);
    color: rgba(0, 255, 247,0.8);
    outline: none;
    border: none;
    font-size: 2em;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 6px 5px 9px #ff00ee;
    transition: all 0.3s ease-in;
}

#start-button:hover {
    background-color: rgba(0, 255, 247, 0.8);
    color:rgba(43, 43, 43, 0.7);
    cursor: pointer;
    box-shadow: 2px 2px 10px #ff00d9;
}


/* CURTAIN SECTION */
.curtain {
    top: 0;
    bottom: 0;
    width: 50%;
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 2s ease-in;
}


.curtain.left {
    left: 0;
    position: absolute;
    /* animation: moveLeft 8s ease-in forwards; */
}

.curtain.right {
    right: 0;
    position: absolute;
    /* animation: moveRight 8s ease-in forwards; */
}

.curtain.open {
    animation-name: moveLeft, moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}



/* CHARACTER SECTION  */

.character-selection{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


#character-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.text-char-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:100;
    color: #ffffff;
    font-size: 25px;
    text-shadow: 2px 2px rgb(0, 43, 11);
    white-space: normal;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #00ffc8;
    transition: all 0.3s ease-in;
}

.character{
    margin-left: 50px;
    margin-right: 50px;
    margin-top:40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}




img{
    width: 200px;
    height:400px;
}


.character-ctn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 400px;
    margin-right:400px;
    /* width: fit-content; */
}


#play-button{
    outline: none;
    border: none;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 230, 0.8);
    color: rgb(0, 255, 247);
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00fbff;
    transition: all 0.3s ease-in;
}

    #play-button:hover {
        outline: none;
        border: none;
        background-color: rgba(0, 229, 255, 0.8);
        color: rgb(121, 9, 121);
        cursor: pointer;
        box-shadow: 2px 2px 10px #6a4c93;
    }

#select-alice {
    outline: none;
    border: none;
    background-color:rgba(43, 43, 43, 0.5);
    color: rgba(255, 255, 255);
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ff00d9;
    transition: all 0.3s ease-in;
    margin-top: 15px;  
}

#select-alice:hover {
    background-color: rgba(0, 255, 247, 0.8);
    color: rgba(43, 43, 43, 0.7);
    cursor: pointer;
    box-shadow: 2px 2px 10px #ff00d9;
}



#select-cat {
    outline: none;
    border: none;
    background-color: rgba(43, 43, 43, 0.5);
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00ffe5;
    transition: all 0.3s ease-in;
    margin-top: 15px;

}

#select-cat:hover {
    background-color: rgba(0, 255, 247, 0.8);
    color: rgba(43, 43, 43, 0.7);
    cursor: pointer;
    box-shadow: 2px 2px 10px #ff00d9;
}

#select-madhatter {
    outline: none;
    border: none;
    background-color:rgba(43, 43, 43, 0.5);
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ff00f2;
    transition: all 0.3s ease-in;
    margin-top: 15px;

}

#select-madhatter:hover {
    background-color: rgba(0, 255, 247, 0.8);
    color: rgba(43, 43, 43, 0.7);
    cursor: pointer;
    box-shadow: 2px 2px 10px #ff00d9;
}


/* GAME SCREEN  */

.new-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}


canvas {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

/* Lose screen */
.end-game-screen{
    margin: auto;
    display: inline;
    margin-top:-25;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.win-screen{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.game-over-life{
    display: flex;
    padding-top: 400;
    margin-top:0;
    align-items: center;
    background-size: cover;
    background-image: url(../images/lose.jpg);
    width: 100%;
    height: 100vh;
}

.win-screen {
    display: flex;
    padding-top: 400;
    margin-top: 0;
    align-items: center;
    background-size: cover;
    background-image: url(../images/win.jpg);
    width: 100%;
    height: 100vh;
}



.text-lose{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 43, 11);
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #00ffc8;
    transition: all 0.3s ease-in;
}

.text-win {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 43, 11);
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #00ffc8;
    transition: all 0.3s ease-in;
}



.start-over-btn{
    outline: none;
    border: none;
    margin: auto;
    display: flex;
    margin-top:100px;
    align-items: center;
    background-color: rgba(255, 0, 230, 0.8);
    color: rgb(0, 255, 247);
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00fbff;
    transition: all 0.3s ease-in;
}


.start-over-btn:hover {
    display:flex;
    outline: none;
    border: none;
    background-color: rgba(0, 229, 255, 0.8);
    color: rgb(121, 9, 121);
    cursor: pointer;
    box-shadow: 2px 2px 10px #6a4c93;
}